.icon-brush {mask-image: url("/icons/brush.svg");}
.icon-download {mask-image: url("/icons/download.svg");}
.icon-angle-right {mask-image: url("/icons/angle-right.svg");}
.icon-ruler {mask-image: url("/icons/ruler.svg");}
.icon-calender {mask-image: url("/icons/calender.svg");}
.icon-discovery {mask-image: url("/icons/discovery.svg");}
.icon-trash {mask-image: url("/icons/trash.svg");}
.icon-plus {mask-image: url("/icons/plus.svg");}
.icon-adjust {mask-image: url("/icons/adjust.svg");}
.icon-angle-left {mask-image: url("/icons/angle-left.svg");}
.icon-check {mask-image: url("/icons/check.svg");}
.icon-undo {mask-image: url("/icons/undo.svg");}
.icon-redo {mask-image: url("/icons/redo.svg");}
.icon-broom {mask-image: url("/icons/broom.svg");}
.icon-zoom-in {mask-image: url("/icons/zoom-in.svg");}
.icon-zoom-out {mask-image: url("/icons/zoom-out.svg");}
.icon-grid {mask-image: url("/icons/grid.svg");}
.icon-resize {mask-image: url("/icons/resize.svg");}
.icon-bucket {mask-image: url("/icons/bucket.svg");}
.icon-eraser {mask-image: url("/icons/eraser.svg");}
.icon-move {mask-image: url("/icons/move.svg");}
.icon-select {mask-image: url("/icons/select.svg");}
.icon-reflect-horizontal {mask-image: url("/icons/reflect-horizontal.svg");}
.icon-reflect-vertical {mask-image: url("/icons/reflect-vertical.svg");}
.icon-flip-h {mask-image: url("/icons/flip-h.svg");}
.icon-flip-v {mask-image: url("/icons/flip-v.svg");}
.icon-at {mask-image: url("/icons/at.svg");}
.icon-home {mask-image: url("/icons/home.svg");}